<<<<<<< HEAD
h2{
  color: orange;
}

p{
  background-color: black;
  color: white;
}

button{
  background-color: blue;
  color: white;
=======
h2{
  color: orange;
}

p{
  background-color: black;
  color: white;
}

button{
  background-color: blue;
  color: white;
>>>>>>> c70566e (Add all files and folders)
}