<<<<<<< HEAD
div {
  height: 100px;
  width: 100px;
  background-color: green;
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  display: inline-block;
}

#static {
  background-color: yellow;
  position: static;
  top: 100px;
  left: 100px;
}

#relative {
  background-color: yellow;
  position: relative;
  top: 100px;
  left: 100px;
}

#absolute {
  background-color: yellow;
  position: absolute;
  top: 100px;
  left: 100px;
}

#section{
  position: static;
}

#fixed{
  background-color: yellow;
  position: fixed;
  bottom: 50px;
}

#sticky{
  background-color: yellow;
  position: sticky;
  top: 100px;
=======
div {
  height: 100px;
  width: 100px;
  background-color: green;
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  display: inline-block;
}

#static {
  background-color: yellow;
  position: static;
  top: 100px;
  left: 100px;
}

#relative {
  background-color: yellow;
  position: relative;
  top: 100px;
  left: 100px;
}

#absolute {
  background-color: yellow;
  position: absolute;
  top: 100px;
  left: 100px;
}

#section{
  position: static;
}

#fixed{
  background-color: yellow;
  position: fixed;
  bottom: 50px;
}

#sticky{
  background-color: yellow;
  position: sticky;
  top: 100px;
>>>>>>> c70566e (Add all files and folders)
}